<div class="sidenav" [ngClass]="collapsed?'sidenave-collapsed':''">
     <div class="logo-container">
          <button class="logo" (click)="togglecollapse()">G</button>
          <div class="logo-text" *ngIf="collapsed">الجولف</div>
          <button class="btn-close" *ngIf="collapsed" (click)="closeSidenav()">
               <i class="fa-solid fa-xmark"></i>
          </button>
     </div>

     <ul class="sidenave-nav">
     <!--الرئيسية  -->
          <li class="sidenav-item" *ngFor="let data of navData">
              <a  class="sidenave-nav-link"  [routerLink]="[data.routelink]"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{exact:true}"
              >
               <i class="sidenave-link-icon" [class]="data.icon"></i>
               <span class="sidenave-link-text" *ngIf="collapsed">{{data.label}}</span>
              </a>
              
          </li>

     </ul>
     

</div> 


