
<div class=" pt-5 ">
     <div class="row gy-4">
          <div class="col-sm-6 col-xl-3">
               <div class=" shadow-sm bg-white rounded d-flex align-items-center justify-content-between p-4">
                    <div class="ms-3">
                         <h6 class="mb-0 text-center">عدد الفواتير اليومية</h6>
                         <h3 class="mb-0 text-center fw-bold pb-1">112</h3>
                        
                    </div>
                    <i style="color:#667eeb; background-color: #e1e5fa; font-size: 40px; border-radius: 50%; padding: 7px;"
                         class="fa-solid fa-cubes "></i>
                    
               </div>
          </div>

          <div class="col-sm-6 col-xl-3">
               <div class=" shadow-sm bg-white rounded d-flex align-items-center justify-content-between p-4">
                    <div class="ms-3">

                         <h6 class="mb-0 text-center">عدد الفواتير الشهرية</h6>
                         <h3 class="mb-0 text-center fw-bold pb-1">44</h3>
                        
                    </div>

                    <i style="color:#667eeb; background-color: #e1e5fa; font-size: 40px; border-radius: 50%; padding: 7px;"
                         class="fa-solid fa-dollar fa-fw"></i>
                    
               </div>
          </div>

         
          
     </div>
</div>

