
<div class="product-price mt-5" id="flush-headingOne">
<div class="product-price-item" >

     <a class="product-price-link" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
          aria-expanded="false" aria-controls="flush-collapseOne">
          <i class="arrow_dowen fa-solid fa-chevron-left"></i>
          <span class="product-price-link-text" >رمادي بجوان</span>
          
     </a>
</div>

     <div  id="flush-collapseOne" class="accordion-collapse collapse"
          aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body product-price-accordion-body">
               <div class="product-price-accordion-body-item">
                    <div class="alert alert-styel" role="alert">
                         قم بوضع السعر الأساسي وسعر الكوبون وعدد النقاط لكل منتج
                         <span>*</span>
                    </div>
                    <app-collaps-product-price-tables [Datatebal]="Datatebal2" ></app-collaps-product-price-tables>
               </div>
               
          </div>
     </div>
</div>


<div class="product-price mt-5" id="flush-headingTow">
     <div class="product-price-item">

          <a class="product-price-link" data-bs-toggle="collapse" data-bs-target="#flush-collapseTow"
               aria-expanded="false" aria-controls="flush-collapseOne">
               <i class="arrow_dowen fa-solid fa-chevron-left"></i>
               <span class="product-price-link-text"> قطع بولي بسن نحاس</span>

          </a>
     </div>

     <div id="flush-collapseTow" class="accordion-collapse collapse" aria-labelledby="flush-headingTow"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body product-price-accordion-body">
               <div class="product-price-accordion-body-item">
                    <div class="alert alert-styel" role="alert">
                         قم بوضع السعر الأساسي وسعر الكوبون وعدد النقاط لكل منتج
                         <span>*</span>
                    </div>
                    <app-collaps-product-price-tables [Datatebal]="Datatebal2"></app-collaps-product-price-tables>
               </div>

          </div>
     </div>
</div>




<div class="product-price mt-5 mb-5" id="flush-headingThree">
     <div class="product-price-item">

          <a class="product-price-link" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree"
               aria-expanded="false" aria-controls="flush-collapseThree">
               <i class="arrow_dowen fa-solid fa-chevron-left"></i>
               <span class="product-price-link-text"> قطع بولي لحام</span>

          </a>
     </div>

     <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
          data-bs-parent="#accordionFlushExample">
          <div class="accordion-body product-price-accordion-body">
               <div class="product-price-accordion-body-item">
                    <div class="alert alert-styel" role="alert">
                         قم بوضع السعر الأساسي وسعر الكوبون وعدد النقاط لكل منتج
                         <span>*</span>
                    </div>
                    <app-collaps-product-price-tables [Datatebal]="Datatebal2"></app-collaps-product-price-tables>
               </div>

          </div>
     </div>
</div>



