::-webkit-scrollbar {
     width: 0rem;
}


.sidenav {
     background: #263238;
     transition: all 0.1s ease;
     position: fixed;
     z-index: 1;
     top: 0;
     /* margin-top: 4.5rem; */
     width: 5rem;
     height: 100vh;
     box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
     overflow: auto;
     padding-bottom: 15%;
}

.logo-container {
     display: flex;
     align-items: center;
     padding: 0.938rem 0.938rem 0 0.938rem;
     width: 100%;
     margin-top: 5.5rem;
}

.logo {
background-image: linear-gradient(to right, #647dee, #7f53ac);
     text-align: center;
     min-width: 3rem;
     border-radius: 0.313rem;
     padding: 0.312rem;
     font-size: 0.9rem;
     cursor: pointer;
     border: none;
     font-weight: 500;
     padding-top: 0.9rem;
     padding-bottom: 0.9rem;
     color: white;
     
       
}

.btns-close {
     margin-left: auto;
     cursor: pointer;
     min-width: 10rem;
     width: 6rem;
     height: 3rem;
     border-radius: 0.625rem;
     border: none;
     margin-right: 1rem;
     background-color: rgba(255, 0, 0, 0.825);

}



.fa-xmark {
     color: #fff !important;
     font-size: 1.5rem !important;
     padding: 0 2rem ;
}

.sidenave-collapsed {
     width: 16.5625rem;
}

.sidenave-nav {
     /* list-style: none; */
     padding: 0.938rem;
     /* margin: 0; */
     /* display: flex; */
     /* flex-direction: column;  */
     /* align-items: center; */
     /* height: calc(100% - 3.65rem);  */
     /* cursor: pointer; */
}

.sidenav-item {
     margin-bottom: 0.625rem;
}

.sidenave-nav-link {
     display: flex;
     align-items: center;
     height: 3rem;
     color: #f3f3f3;
     /* text-decoration: none; */
     border-radius: 0.625rem;
     transition: all 0.8s ease;
}


.sidenave-link-icon {
     font-size: 1.5rem;
     width: 2rem;
     min-width: 2rem;
     margin: 0 0.5rem;
     text-align: center;
}

.sidenave-link-text {
     margin-right: 1.5rem;
}

.sidenav-item:hover .sidenave-nav-link {
     background-color: #fff;
     color: #000;
}

.active {
     background-color: #fff;
     color: #000;
}


li {

     list-style: none;
}

a {
     color: #fff;
     text-decoration: none;
}

.accordion-body {
     width: 100%;
     margin-top: 0.5rem;
     padding: 0.5rem;
     border-radius: 0.625rem;
     background-color: rgba(205, 166, 242, 0.649);
}

.actives {
     color: #000;
     ;
}

.arrow_dowen{
     margin-right: 5.4rem !important;
}
.arrow1_dowen {
     margin-right: 6rem !important;
}
.arrow2_dowen {
     margin-right: 3.8rem !important;
}
.arrow3_dowen {
     margin-right: 4.5rem !important;
}
.arrow4_dowen {
     margin-right: 3.7rem !important;
}