<div class="">
  <!-- .......................................................................................... -->
  <div class="">
    <div class="row justify-content-between align-items-center">
      <div class="col-4 col-md-5">
        <h1 class="pt-3"> الأصناف  </h1>

      </div>
      <div class="row mt-5">
        <div class="col-lg-3 col-md-3  form-floating ">
          <button type="button" class="btn btn-primary">إضافة صنف </button>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-lg-3 col-md-3 col-sm-6 form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" />
          <label for="floatingInput" class="ps-1 text-">Search</label>
        </div>
      </div>
    </div>
  </div>
    <!-------------------------------------------- table header --------------------------------->
    <div class=" ">
    <div class="table-responsive">
    <table class="table table-striped table-bordered" >
        <thead>
            <tr>
                <th class=" text-center fw-bold">#</th>
                <th class=" text-center fw-bold">اسم الصنف </th>
                <th class=" text-center fw-bold">النوع </th>
                <th class=" text-center fw-bold">الحالة</th>
                <th class=" text-center fw-bold">تم بواسطة </th>
                <th class=" text-center fw-bold">تاريخ الانشاء </th>
                <th class=" text-center fw-bold">خيارات</th>

            </tr>
        </thead>
        <tbody>
            <!--------------------------------------------- row 1 --------------------------------->
            <tr class="md ">
                <td  class="text-center text-dark fw-semibold pt-3"> 1</td>
                <td class="text-center text-dark fw-semibold pt-3">رمادي بجوان  </td>
                <td class="text-center text-dark fw-semibold pt-3">أبيض </td>
                <td class=" text-center text-dark fw-semibold pt-3" >
                  <div class="btn-group">
                    <button type="button" class="btn btn-success text-center  "  aria-expanded="false">
                      فعال
                    </button>

                  </div>
                </td>
                <td class="text-center text-dark fw-semibold pt-3">HESHAM SABRY </td>
                <td class="text-center text-dark fw-semibold pt-3">30/12/2020</td>
                <td class="text-center"><i class="fa-solid fa-gear"></i></td>
            </tr>
<!--------------------------------------------- row 2 --------------------------------->
<tr class="md ">
  <td  class="text-center text-dark fw-semibold pt-3"> 2</td>
  <td class="text-center text-dark fw-semibold pt-3">قطع بولي بسن نحاس </td>
  <td class="text-center text-dark fw-semibold pt-3"> بولي  </td>
  <td class=" text-center text-dark fw-semibold pt-3" >
    <div class="btn-group">
      <button type="button" class="btn btn-success text-center  "  aria-expanded="false">
        فعال
      </button>

    </div>
  </td>
  <td class="text-center text-dark fw-semibold pt-3">HESHAM SABRY </td>
  <td class="text-center text-dark fw-semibold pt-3">30/12/2020</td>
  <td class="text-center"><i class="fa-solid fa-gear"></i></td>
</tr>
<!--------------------------------------------- row 3 --------------------------------->
<tr class="md ">
  <td  class="text-center text-dark fw-semibold pt-3"> 3</td>
  <td class="text-center text-dark fw-semibold pt-3">قطع بولي لحام  </td>
  <td class="text-center text-dark fw-semibold pt-3"> بولي  </td>
  <td class=" text-center text-dark fw-semibold pt-3" >
    <div class="btn-group">
      <button type="button" class="btn btn-success text-center  "  aria-expanded="false">
        فعال
      </button>

    </div>
  </td>
  <td class="text-center text-dark fw-semibold pt-3">HESHAM SABRY </td>
  <td class="text-center text-dark fw-semibold pt-3">30/12/2020</td>
  <td class="text-center"><i class="fa-solid fa-gear"></i></td>
</tr>
<!--------------------------------------------- row 4 --------------------------------->
<tr class="md ">
  <td  class="text-center text-dark fw-semibold pt-3"> 4</td>
  <td class="text-center text-dark fw-semibold pt-3"> محابس </td>
  <td class="text-center text-dark fw-semibold pt-3"> بولي </td>
  <td class=" text-center text-dark fw-semibold pt-3" >
    <div class="btn-group">
      <button type="button" class="btn btn-success text-center  "  aria-expanded="false">
        فعال
      </button>

    </div>
  </td>
  <td class="text-center text-dark fw-semibold pt-3">HESHAM SABRY </td>
  <td class="text-center text-dark fw-semibold pt-3">30/12/2020</td>
  <td class="text-center"><i class="fa-solid fa-gear"></i></td>
</tr>
<!--------------------------------------------- row 5 --------------------------------->
<tr class="md ">
  <td  class="text-center text-dark fw-semibold pt-3"> 5</td>
  <td class="text-center text-dark fw-semibold pt-3">مواسير أبيض </td>
  <td class="text-center text-dark fw-semibold pt-3"> أبيض  </td>
  <td class=" text-center text-dark fw-semibold pt-3" >
    <div class="btn-group">
      <button type="button" class="btn btn-success text-center  "  aria-expanded="false">
        فعال
      </button>

    </div>
  </td>
  <td class="text-center text-dark fw-semibold pt-3">HESHAM SABRY </td>
  <td class="text-center text-dark fw-semibold pt-3">30/12/2020</td>
  <td class="text-center"><i class="fa-solid fa-gear"></i></td>
</tr>
<!--------------------------------------------- row 6 --------------------------------->
<tr class="md ">
  <td  class="text-center text-dark fw-semibold pt-3"> 6</td>
  <td class="text-center text-dark fw-semibold pt-3"> مواسير بولي  </td>
  <td class="text-center text-dark fw-semibold pt-3"> بولي</td>
  <td class=" text-center text-dark fw-semibold pt-3" >
    <div class="btn-group">
      <button type="button" class="btn btn-success text-center  "  aria-expanded="false">
        فعال
      </button>

    </div>
  </td>
  <td class="text-center text-dark fw-semibold pt-3">HESHAM SABRY </td>
  <td class="text-center text-dark fw-semibold pt-3">30/12/2020</td>
  <td class="text-center"><i class="fa-solid fa-gear"></i></td>
</tr>
<!--------------------------------------------- row 7 --------------------------------->
<tr class="md ">
  <td  class="text-center text-dark fw-semibold pt-3"> 7</td>
  <td class="text-center text-dark fw-semibold pt-3"> وصلات أبيض</td>
  <td class="text-center text-dark fw-semibold pt-3"> أبيض </td>
  <td class=" text-center text-dark fw-semibold pt-3" >
    <div class="btn-group">
      <button type="button" class="btn btn-success text-center  "  aria-expanded="false">
        فعال
      </button>

    </div>
  </td>
  <td class="text-center text-dark fw-semibold pt-3">HESHAM SABRY </td>
  <td class="text-center text-dark fw-semibold pt-3">30/12/2020</td>
  <td class="text-center"><i class="fa-solid fa-gear"></i></td>
</tr>



</table>
    </div>
    </div>
