/* .............. Hover ................. */

.accordion {
     --bs-accordion-border-width: 0px !important;     
}

.accordion-body{
     display: none !important;
     /* display: block; */
}
.mini_sidebar:hover .accordion-body {
     display: block !important;
}

.titel-list{
     display: none;
     /* display: block; */
}

.mini_sidebar:hover .titel-list {
     display: block;
}

.mini_sidebar{
     width: 10%;
     /* 8% */
          background-color: #34444c !important;
          position: absolute;
          height: 200% !important;
          /* height: 100% !important; */
          transition: all 0.5s ease-in-out;
          z-index: 90;
}


.mini_sidebar:hover {
     width: 40% !important;
     z-index: 90;   
     height: 200% !important;
}


 

/* .mini_sidebar:hover .main-titel{
     visibility:visible !important;
}
.main-titel{
    
     padding: 0.5rem !important;
     visibility: hidden !important;
} */


.main-butn{
     background-color: transparent;
     border: none;
     color: white;
}
 .accor-color{
     background-color:#34444c !important ;
}

.accordion-button::after {height:0px !important;}



li{
     padding-top:0.5rem ;
     list-style: none;
}
a{
  color: #34444c;   
  text-decoration: none;
}
.accordion-body{
     background-color: rgba(205, 166, 242, 0.649);
}



/* .................. Media Query - Width ...................... */
@media (max-width: 1198px) {
     ul {
          padding: 0rem !important;
     }

}



@media (max-width: 960px) {
.accordion-body {
          padding:0.5rem 0rem !important;
     }
    
}

@media (max-width: 876px) {


     .titel-list {
          font-size: 1.1rem !important;
     }
}

@media (max-width: 850px) {
     ul {
          padding: 0.5rem 0.5rem !important;
     }

     
}

@media (max-width: 690px) {


     .titel-list {
          font-size: 0.9rem !important;
     }
}

@media (max-width: 620px) {
    

     .titel-list {
          font-size: 1.1rem !important;
     }
}

/* ipone XR */
@media (max-width: 414px) {

     .accordion-button{
          padding: 0.9rem !important ;
     }
     .titel-list {
          font-size: 0.9rem !important;
     }

          .mini_sidebar:hover {
               width: 50% !important;
               z-index: 90;
               height: 100vh !important;
          }
}

/* Galaxy Note 3  */
@media (max-width: 360px) {

    
     .accordion-button {
          padding: 0.5rem !important;
     }

     .titel-list {
          font-size: 0.8rem !important;
     }

     .mini_sidebar:hover {
          width: 50% !important;
          height: 200% !important;
          /* height: 100% !important; */
     }
          .mini_sidebar {
               width: 19%;
               height: 200% !important;
               /* height: 100% !important; */
          }
}