<!-- Mini Side Bar -->

<div class="fs-4 mini_sidebar text-white" >

<!-- <h4  style="overflow:hidden !important;"> <span class="main-titel ">برنامج </span> الجولف </h4> -->
   

<!-- الرئيسية -->

<div class=" accordion-item mt-4">
     <h2 class="accordion-header" >
          <button class="fs-3 accordion-button collapsed accor-color text-white" type="button" routerLink="Main" >

               <div class="d-flex w-100 bd-highlight">

                    <i class="px-2 fa-solid fa-house "></i>

                    <p class="px-2 titel-list w-100 bd-highlight">الرئيسية </p>

                   

               </div>

          </button>
     </h2>
    
</div>



<!-- القائمة -->
<div class="mt-2  accordion accordion-flush" id="accordionFlushExample">
     <!-- المنتجات -->
     <div class=" accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
               <button class="fs-3 accordion-button collapsed accor-color text-white" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">

                    <div class="d-flex w-100 bd-highlight" >

                         <i class="px-2 fa fa-fw fa-cubes "></i>
                         
                         <p class="px-4 titel-list w-100 bd-highlight">المنتجات </p>

                         <i  class="titel-list fa-solid fa-chevron-left p-2 flex-shrink-1 bd-highlight"></i>
                    
                    </div>
                    
               </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
               data-bs-parent="#accordionFlushExample">
               <div class="accordion-body">
                    <ul class="hsoub-sidebar-menu">
                    <li class="hsoub-sidebar-menu-item ">
                         <a class="d-flex w-100 bd-highlight" href="/business">
               
                         <i class="ps-3 fs-3 fa-solid fa-chart-simple"></i>
                              <p class="titel-list w-100 bd-highlight">
                                   الاصناف
                              </p>
                         </a>
                    </li>
                    <li class="hsoub-sidebar-menu-item ">
                         <a class="d-flex w-100 bd-highlight" routerLink="product">
               
                              <i class="ps-3 fs-3 padding-right fs-3 fa fa-fw fa-cubes "></i>
               
                              <p class="  titel-list w-100 bd-highlight">المنتجات </p>
                              
                         </a>
                    </li>
                    <li class="hsoub-sidebar-menu-item ">
                         <a class="d-flex w-100 bd-highlight" routerLink="pricelist">
               
                         <i class="ps-3 fs-3 fa-solid fa-money-bill-wave"></i>

                         <p class="titel-list w-100 bd-highlight ">قائمة الاسعار </p>
                              
                         </a>
                    </li>
               
               </ul>
               </div>
          </div>
     </div>

     <!-- المستخدمين -->
     <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
               <button class="fs-3 accordion-button collapsed accor-color text-white" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    <div class="d-flex w-100 bd-highlight">

                         <i class="px-2 fa-solid fa-users"></i>

                         <p class="px-2 titel-list w-100 bd-highlight">المستخدمين</p>

                         <i class="titel-list fa-solid fa-chevron-left p-2 flex-shrink-1 bd-highlight"></i>
                    </div>
                    
                    
               </button>
          </h2>
          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
               data-bs-parent="#accordionFlushExample">
               <div class="accordion-body">

                         <ul class="hsoub-sidebar-menu">
                              <li class="hsoub-sidebar-menu-item ">
                                   <a class="d-flex w-100 bd-highlight" href="/business">
                         
                                   <i class="ps-3 fs-3 fa-solid fa-user"></i>
                                   <p class="titel-list w-100 bd-highlight ">المراقب العام </p>
                                         
                                   </a>
                              </li>
                              <li class="hsoub-sidebar-menu-item ">
                                   <a class="d-flex w-100 bd-highlight" href="/programming">
                         
                                   <i class="ps-3 fs-3 fa-solid fa-user"></i>
                         
                                   <p class="titel-list w-100 bd-highlight ">مدير التسويق </p>
                                        
                                   </a>
                              </li>
                              <li class="hsoub-sidebar-menu-item ">
                                   <a class="d-flex w-100 bd-highlight" href="/marketing">
                         
                                   <i class="ps-3 fs-3 fa-solid fa-user"></i>
                                   <p class="titel-list w-100 bd-highlight ">مدير  العملاء  </p>
                                    </a>
                              </li>
                         
                              <li class="hsoub-sidebar-menu-item ">
                                   <a class="d-flex w-100 bd-highlight" href="/business">
                              
                              <i class="ps-3 fs-3 fa-solid fa-user"></i>
                              <p class="titel-list w-100 bd-highlight ">مناديب التسويق </p>

                                         
                                   </a>
                              </li>
                              <li class="hsoub-sidebar-menu-item ">
                                   <a class="d-flex w-100 bd-highlight" href="/programming">
                              
                                   <i class="ps-3 fs-3 fa-solid fa-user"></i>
                              
                                   <p class="titel-list w-100 bd-highlight ">مناديب  العملاء </p>
                                          
                                   </a>
                              </li>
                              <li class="hsoub-sidebar-menu-item ">
                                   <a class="d-flex w-100 bd-highlight" href="/marketing">
                              
                                   <i class="ps-3 fs-3 fa-solid fa-user"></i>
                                    <p class="titel-list w-100 bd-highlight ">مستخدمين النظام </p>

                                          
                                   </a>
                              </li>
                         </ul>
               </div>
          </div>
     </div>


     <!-- قائمة العملاء -->
     <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingThree">
               <button class="fs-4 accordion-button collapsed accor-color text-white w-100 " type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">

                    <div class="d-flex w-100 bd-highlight">

                         <i class="px-2 fs-3 fa-solid fa-clipboard-list"></i>
     
                         <p class="px-2 w-100 titel-list bd-highlight">قائمة العملاء</p>

                         <i class="titel-list fa-solid fa-chevron-left p-2 flex-shrink-1 bd-highlight"></i>
                    </div>
                    
                    </button>
          </h2>
          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
               data-bs-parent="#accordionFlushExample">
               <div class="accordion-body">
                         <ul class="hsoub-sidebar-menu">
                              <li class="hsoub-sidebar-menu-item ">
                                   <a class="d-flex w-100 bd-highlight" href="/business">
                         
                              <i class="ps-3 fs-3 fa-solid fa-user"></i>
                              <p class="titel-list w-100 bd-highlight "> الموزعين </p>
                                        
                                   </a>
                              </li>
                              <li class="hsoub-sidebar-menu-item ">
                                   <a class="d-flex w-100 bd-highlight" href="/programming">
                         
                                   <i class="ps-3 fs-3 fa-solid fa-user"></i>
                                        <p class="titel-list w-100 bd-highlight "> التجار </p>
                                        
                                   </a>
                              </li>
                              <li class="hsoub-sidebar-menu-item ">
                                   <a class="d-flex w-100 bd-highlight" href="/marketing">
                         
                              <i class="ps-3 fs-3 fa-solid fa-user"></i>
                              <p class="titel-list w-100 bd-highlight "> الفنيين </p>
                                         
                                   </a>
                              </li>
                         
                              <li class="hsoub-sidebar-menu-item ">
                                   <a class="d-flex w-100 bd-highlight" href="/marketing">
                              
                                   <i class="ps-3 fs-3 fa-solid fa-user"></i>
                                   <p class="titel-list w-100 bd-highlight "> العملاء </p>
                                        
                                   </a>
                              </li>
                         </ul>
               </div>
          </div>
     </div>

     <!-- المناطق -->
     <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
               <button class="fs-4 accordion-button collapsed accor-color text-white" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                    <div class="d-flex w-100 bd-highlight">

                         <i class="px-2 fs-3 fa-solid fa-earth-asia"></i>
                              <p class="px-2 titel-list w-100 bd-highlight">المناطق</p>

                              <i class="titel-list fa-solid fa-chevron-left p-2 flex-shrink-1 bd-highlight"></i>
                    </div>
               </button>
          </h2>
          <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
               data-bs-parent="#accordionFlushExample">
               <div class="accordion-body">
                    <ul class="hsoub-sidebar-menu">
                       
                         <li class="hsoub-sidebar-menu-item ">
                              <a class="d-flex w-100 bd-highlight" href="/programming">

                              <i class="ps-3 fs-3 fa-solid fa-building"></i>
                    <p class="titel-list w-100 bd-highlight "> المحافظات </p>
                                   
                              </a>
                         </li>
                         <li class="hsoub-sidebar-menu-item ">
                              <a class="d-flex w-100 bd-highlight" href="/marketing">
                    
                                   <i class="ps-3 fs-3 fa-solid fa-building"></i>
                                   <p class="titel-list w-100 bd-highlight "> المراكز </p>
                                    
                              </a>
                         </li>
                    
                    </ul>
               </div>
          </div>
     </div>



     <!-- الهدايا -->
     <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingfive">
               <button class="fs-4 accordion-button collapsed accor-color text-white" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapsefive" aria-expanded="false" aria-controls="flush-collapsefive">
                    <div class="d-flex w-100 bd-highlight">
                    
                         <i class="px-2 fs-3 fa-solid fa-gift"></i>

                         <p class="px-2 titel-list w-100 bd-highlight">الهدايا</p>

                         <i class="titel-list fa-solid fa-chevron-left p-2 flex-shrink-1 bd-highlight"></i>
                    </div>
               </button>
          </h2>
          <div id="flush-collapsefive" class="accordion-collapse collapse" aria-labelledby="flush-headingfive"
               data-bs-parent="#accordionFlushExample">
               <div class="accordion-body">
                    <ul class="hsoub-sidebar-menu">
                    
                         <li class="hsoub-sidebar-menu-item ">
                              <a class="d-flex w-100 bd-highlight" href="/programming">
                    
                         <i class="fa-solid fa-circle-dot"></i>
                    <p class="titel-list w-100 bd-highlight "> الهدايا </p>
                                   
                              </a>
                         </li>
                         <li class="hsoub-sidebar-menu-item ">
                              <a class="d-flex w-100 bd-highlight" href="/marketing">
                    
                                   <i class="fa-solid fa-circle-dot"></i>
                              <p class="titel-list w-100 bd-highlight "> تقارير الهدايا </p>
                                 
                              </a>
                         </li>
                    
                    </ul>
               </div>
          </div>
     </div>

</div>



<!-- الشكاوي -->

<div class=" accordion-item ">
     <h2 class="accordion-header">
          <button class="fs-3 accordion-button collapsed accor-color text-white" type="button">

               <div class="d-flex w-100 bd-highlight">

                    <i class="px-2 fa-solid fa-phone-volume"></i>
                    <p class="px-2 titel-list w-100 bd-highlight">الشكاوي </p>

               </div>

          </button>
     </h2>

</div>


<!-- الطلبات -->
<div class=" accordion-item ">
     <h2 class="accordion-header">
          <button class="fs-3 accordion-button collapsed accor-color text-white" type="button">

               <div class="d-flex w-100 bd-highlight">

                    <i class="px-2 fa-solid fa-truck"></i>
                    <p class="px-2 titel-list w-100 bd-highlight">الطلبات </p>

               </div>

          </button>
     </h2>

</div>
<!-- شكاوي مغلقة -->

<div class=" accordion-item ">
     <h2 class="accordion-header">
          <button class="fs-3 accordion-button collapsed accor-color text-white" type="button">

               <div class="d-flex w-100 bd-highlight">

               <i class="px-2 fa-solid fa-list-check"></i>
                    <p class="px-2 titel-list w-100 bd-highlight">شكاوي مغلقة</p>

               </div>

          </button>
     </h2>

</div>


<!-- طلبات مغلقة -->
<div class=" accordion-item ">
     <h2 class="accordion-header">
          <button class="fs-3 accordion-button collapsed accor-color text-white" type="button">

               <div class="d-flex w-100 bd-highlight">

                    <i class="px-2 fa-solid fa-list-check"></i>
                    <p class="px-2 titel-list w-100 bd-highlight">طلبات مغلقة</p>

               </div>

          </button>
     </h2>

</div>
<!-- الفواتير -->
<div class=" accordion-item ">
     <h2 class="accordion-header">
          <button class="fs-3 accordion-button collapsed accor-color text-white" type="button">

               <div class="d-flex w-100 bd-highlight">

                    <i class="px-2 fa-solid fa-paste"></i>
                    <p class="px-2 titel-list w-100 bd-highlight"> الفواتير</p>

               </div>

          </button>
     </h2>

</div>





<!-- القائمة -->
<div class="mt-2  accordion accordion-flush" id="accordionFlushExample2">
     <!-- الزيارات -->
     <div class=" accordion-item">
          <h2 class="accordion-header" id="flush-heading-2-One">
               <button class="fs-3 accordion-button collapsed accor-color text-white" type="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-collapse-2-One" aria-expanded="false"
                    aria-controls="flush-collapse-2-One">

                    <div class="d-flex w-100 bd-highlight">

                         <i class="px-2 fa-solid fa-house-flag"></i>

                         <p class="px-2 titel-list w-100 bd-highlight">الزيارات </p>

                         <i class="titel-list fa-solid fa-chevron-left p-2 flex-shrink-1 bd-highlight"></i>

                    </div>

               </button>
          </h2>
          <div id="flush-collapse-2-One" class="accordion-collapse collapse" aria-labelledby="flush-heading-2-One"
               data-bs-parent="#accordionFlushExample2">
               <div class="accordion-body">
                    <ul class="hsoub-sidebar-menu">
                         <li class="hsoub-sidebar-menu-item ">
                              <a class="d-flex w-100 bd-highlight" href="/business">

                                   <i class="px-2 fa-solid fa-circle-dot"></i>
                                   <p class="titel-list w-100 bd-highlight">
                                        زيارات التجار
                                   </p>
                              </a>
                         </li>
                         <li class="hsoub-sidebar-menu-item ">
                              <a class="d-flex w-100 bd-highlight" href="/programming">

                                   <i class="fa-solid fa-circle-dot"></i>

                                   <p class="px-2 titel-list w-100 bd-highlight">زيارات الموزعين </p>

                              </a>
                         </li>
                         

                    </ul>
               </div>
          </div>
     </div>

     <!-- الاعدادات -->
     <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingTwo">
               <button class="fs-3 accordion-button collapsed accor-color text-white" type="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-collapse-2-Two" aria-expanded="false"
                    aria-controls="flush-collapse-2-Two">
                    <div class="d-flex w-100 bd-highlight">

                         <i class="px-2 fa-solid fa-gears"></i>

                         <p class="px-2 titel-list w-100 bd-highlight">الاعدادات</p>

                         <i class="titel-list fa-solid fa-chevron-left p-2 flex-shrink-1 bd-highlight"></i>
                    </div>


               </button>
          </h2>
          <div id="flush-collapse-2-Two" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
               data-bs-parent="#accordionFlushExample2">
               <div class="accordion-body">

                    <ul class="hsoub-sidebar-menu">
                         <li class="hsoub-sidebar-menu-item ">
                              <a class="d-flex w-100 bd-highlight" href="/business">

                                    
                                   <i class="ps-3 fs-3 fa-solid fa-bookmark"></i>
                                   <p class="titel-list w-100 bd-highlight "> الكوبونات </p>

                              </a>
                         </li>
                         <li class="hsoub-sidebar-menu-item ">
                              <a class="d-flex w-100 bd-highlight" href="/programming">

                              <i class="ps-3 fs-3 fa-solid fa-bookmark"></i>

                                   <p class="titel-list w-100 bd-highlight ">تصنيف التجار </p>

                              </a>
                         </li>
                         <li class="hsoub-sidebar-menu-item ">
                              <a class="d-flex w-100 bd-highlight" href="/marketing">

                                   <i class="ps-3 fs-3 fa-solid fa-bookmark"></i>
                                   <p class="titel-list w-100 bd-highlight ">تصنيف الموزعين  </p>
                              </a>
                         </li>

                         <li class="hsoub-sidebar-menu-item ">
                              <a class="d-flex w-100 bd-highlight" href="/business">

                                   <i class="ps-3 fs-3 fa-solid fa-bookmark"></i>
                                   <p class="titel-list w-100 bd-highlight ">انواع الزيارات  </p>


                              </a>
                         </li>
                         <li class="hsoub-sidebar-menu-item ">
                              <a class="d-flex w-100 bd-highlight" href="/programming">

                                   <i class="ps-3 fs-3 fa-solid fa-bookmark"></i>

                                   <p class="titel-list w-100 bd-highlight ">العروض والمسابقات  </p>

                              </a>
                         </li>
                         <li class="hsoub-sidebar-menu-item ">
                              <a class="d-flex w-100 bd-highlight" href="/marketing">

                                   <i class="ps-3 fs-3 fa-solid fa-bookmark"></i>
                                   <p class="titel-list w-100 bd-highlight ">قوائم اسعار الشركات  </p>


                              </a>
                         </li>
                    </ul>
               </div>
          </div>
     </div>


     <!-- التقارير -->
     <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingFour">
               <button class="fs-4 accordion-button collapsed accor-color text-white" type="button"
                    data-bs-toggle="collapse" data-bs-target="#flush-collapse-2-Four" aria-expanded="false"
                    aria-controls="flush-collapse-2-Four">
                    <div class="d-flex w-100 bd-highlight">

                         <i class="px-2  fs-3 fa-solid fa-file"></i>

                         <p class="px-2 titel-list w-100 bd-highlight">التقارير</p>

                         <i class="titel-list fa-solid fa-chevron-left p-2 flex-shrink-1 bd-highlight"></i>
                    </div>
               </button>
          </h2>
          <div id="flush-collapse-2-Four" class="accordion-collapse collapse" aria-labelledby="flush-headingFour"
               data-bs-parent="#accordionFlushExample2">
               <div class="accordion-body">
                    <ul class="hsoub-sidebar-menu">

                         <li class="hsoub-sidebar-menu-item ">
                              <a class="d-flex w-100 bd-highlight" href="/programming">

                              <i class="px-2 fa-solid fa-house-flag"></i>       
                              <p class="titel-list w-100 bd-highlight "> تقرير الفنيين الجدد </p>
                              </a>
                         </li>
                         <li class="hsoub-sidebar-menu-item ">
                              <a class="d-flex w-100 bd-highlight" href="/marketing">

                                   <i class="px-2 fa-solid fa-house-flag"></i>
                                   <p class="titel-list w-100 bd-highlight "> تقرير الفنيين المتوقفين </p>
                                 
                              </a>
                         </li>

                         <li class="hsoub-sidebar-menu-item ">
                              <a class="d-flex w-100 bd-highlight" href="/marketing">
                         
                                   <i class="px-2 fa-solid fa-house-flag"></i>
                                   <p class="titel-list w-100 bd-highlight "> تقرير التجار الجدد </p>
                                 
                              </a>
                         </li>


                         <li class="hsoub-sidebar-menu-item ">
                              <a class="d-flex w-100 bd-highlight" href="/marketing">
                         
                                   <i class="px-2 fa-solid fa-house-flag"></i>
                                   <p class="titel-list w-100 bd-highlight "> تقرير التجار المتوقفين </p>
                                   
                              </a>
                         </li>

                    </ul>
               </div>
          </div>
     </div>



   

</div>


</div>


